.header{
    background-color: #222;
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation:rotateLogo 8s linear infinite;
    margin-left: 20px;
}

.login-button{
    margin-right: 10px;
}

@keyframes rotateLogo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}






